<footer class=" footer">
    <div class="socialLinks">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="logoInfo">
        <a href="#"><p>&copy; Tripverse</p></a>
    </div>

    <div class="otherInfo">
        <a href="#privacy">Privacy</a>
        <a href="#terms">Terms</a>
    </div>
</footer>