body {
    font-family: "Playfair Display", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    background-color: white;
}

.nav-link {
    font-weight: 600 !important;
}

.navbar-brand i {
    color: #E63946;
    font-size: 2rem;
}

.collapse {
    background-color: white !important;
    width: 100% !important;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.351);
    width: 100%;
    padding: 15px 0;
    flex: 1;
}

.socialLinks a {
    text-decoration: none;
}

.socialLinks a i {
    color: black;
    font-size: 20px;
    margin-left: 1rem;
}

.logoInfo a {
    text-decoration: none;
}

.logoInfo p {
    color: black;
    margin-top: 1rem;
}

.otherInfo a {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}

.otherInfo a:hover {
    text-decoration: underline;
}

/* card */
.card {
    border: none !important;
    padding: 1.5rem !important;
}

.card-img-top {
    object-fit: cover;
    border-radius: 1.5rem !important;
}

.card-img-overlay:hover {
    background-color: rgba(255, 255, 255, 0.21);
    transition: all 0.3s ease;
}

/* new listing */
.btn {
    background-color: #E63946 !important;
    color: white !important;
    font-weight: 600 !important;
}

.newListBtn {
    transition: all 0.8s ease !important;
    background-color: #E63946 !important;
    color: white !important;
    font-weight: 600 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 20px !important;
    border-radius: 50px;
}

.newListBtn:hover {
    background-color: #000000 !important;
}

.form-control {
    border: 1px solid rgba(128, 128, 128, 0.644) !important;
}

/* show listing */
.showCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn2 {
    background-color: black !important;
}

label {
    font-weight: 600 !important;
}

.form-check-input {
    border: 1px solid gray !important;
}

/* reviews */
.reviews {
    box-shadow: 1px 1px 2px gray !important;
    margin: 0 auto;
    margin-bottom: 45px;
    border-radius: 0px 50px 50px 50px !important;
    background-color: rgba(215, 250, 244, 0.701) !important;
}

.reviewBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.commentInput {
    border: none !important;
    box-shadow: 1px 1px 2px gray !important;
    margin: 0 auto;
    border-radius: 0px 50px 50px 50px !important;
    background-color: rgba(215, 250, 244, 0.701) !important;
}

.btn4 {
    margin-top: 45px !important;
}

/* signUpBox */
.signUpBox {
    background-color: rgba(215, 250, 244, 0.701);
    border-radius: 30px;
    padding: 15px 10px;
}

.btn3 {
    background-color: green !important;
}

/* alert msg */
.alert {
    transition: all 0.3s ease !important;
}