<% layout("/layout/boilerplate.ejs") %>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form method="post" action="/listing" class="m-4 needs-validation" novalidate enctype="multipart/form-data">
                <h3 class="mb-3">Create a <b>new</b> listing</h3>

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="listing[title]" class="form-control" id="name" placeholder="Title"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        This field can't be empty.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Description" role="5" cols="50"
                        class="form-control" id="Description" required></textarea>
                    <div class="valid-feedback">
                        Description looks good.
                    </div>
                    <div class="invalid-feedback">
                        Please provide a description.
                    </div>

                </div>


                <div class="mb-3">
                    <label for="Image" class="form-label">Image</label>
                    <input type="file" name="listing[image]" placeholder="Image" class="form-control" id="Image">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" name="listing[price]" placeholder="Price" class="form-control" id="price"
                        required>
                    <div class="valid-feedback">
                        Amount accepted.
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid price.
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="location" class="form-label">location</label>
                        <input type="text" name="listing[location]" placeholder="Location" class="form-control"
                            id="location" required>

                        <div class="valid-feedback">
                            Looks like a valid address.
                        </div>
                        <div class="invalid-feedback">
                            Please enter your location.
                        </div>

                    </div>
                    <br>
                    <div class="col-md-8">
                        <label for="Country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="jaipur, rajasthan" class="form-control"
                            id="Country" required>
                        <div class="valid-feedback">
                            Country selected!
                        </div>
                        <div class="invalid-feedback">
                            Please select a country.
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                            Agree to terms and conditions
                        </label>
                        <div id="invalidCheck3Feedback" class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>
    </div>